{
  "parser":  "@typescript-eslint/parser",
  "extends":  [
    "plugin:@typescript-eslint/recommended",
  ],
  "rules": {
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-var-requires": "off"
  }
}
