version: 2.1

jobs:
  # This job is built separately because node <= 16 doesn't require
  # (and will crash) if we use NODE_OPTIONS=--openssl-legacy-provider
  # which is required for tests in more recent versions to work
  test-node-16:
    docker:
      - image: cimg/node:16.20
    steps:
      - checkout
      - run: |
          echo "Node version: $(node --version)"
          echo "NPM version:  $(npm --version)"
          npm install
          npm run ci
  test:
    parameters:
      node-version:
        type: string
    docker:
      - image: cimg/node:<< parameters.node-version >>
    environment:
      # Must be used for running the webpack@4 tests on node >= 17
      NODE_OPTIONS: --openssl-legacy-provider
    steps:
      - checkout
      - run: |  # --openssl-legacy-provider is required for Webpack 4
          echo "Node version: $(node --version)"
          echo "NPM version:  $(npm --version)"
          npm install
          NODE_OPTIONS=--openssl-legacy-provider npm run ci

workflows:
  all-tests:
    jobs:
      - test:
          matrix:
            parameters:
              node-version:
                - "current"
                - "lts"
          name: test-on-node-<< matrix.node-version >>
      - test-node-16:
          # Oldest maintenance LTS, End-of-Life 2023-09-11
          name: test-on-node-16.20
